body {
  margin: 0 auto !important;
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(90deg, #54f, #84f); */
  /* purple #7856FF purple hover #6C4DE6 */
  background: linear-gradient(to bottom,#5544ff30,#5b58f83d);
}
.jumbotron {
  background-color: #6C4DE6 !important;
  margin: 0 auto;
}
.container{
  margin: auto !important;
}

img.rounded-circle:hover {
  opacity: 0.95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pbi-dashboards{
  margin: 0 auto;
  padding: 1rem;
  
}