body {
  margin: 0 auto !important;
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(90deg, #54f, #84f); */
  /* purple #7856FF purple hover #6C4DE6 */
  background: linear-gradient(to bottom,#5544ff30,#5b58f83d);
}
.jumbotron {
  background-color: #6C4DE6 !important;
  margin: 0 auto;
}
.container{
  margin: auto !important;
}

img.rounded-circle:hover {
  opacity: 0.95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pbi-dashboards{
  margin: 0 auto;
  padding: 1rem;
  
}
.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
   url('./assets/img/hero/jt2_norm.jpg');
  background-color: #5544ff30;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}
.herogrp{
  position: absolute;
  top: 30vh;
}
.heromsg{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 420px) {
  .hero{
    background-size: cover;
    height: calc(720px - 480px);
  }
}